* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font-size: 20px;
    font-family: 'Lora', serif;
}

code {
    font-family: 'Open Sans', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}

.item_font-red {
    color: #BF1932;
}

.charityApp-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}




// .banner {
//     position: relative;
//     width: 100%;
//     height: 100vh;
//     background-size: cover;
//     background-image: url(../assets/background.jpg);
// }