.navigation-wrapper {
  // min-height: 60px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  position: relative;
  padding: 0.5rem 1rem;

  box-shadow: 0 1px 4px 0 #939597;
  background-color: white;
}

.navigation {
  display: flex;
  width: 100%;
  align-items: center;

  .navigation__item {
    margin: 0.5rem;

    a {
      display: block;
      width: 100%;
      padding: 0.6rem;
      font-weight: 400;
      text-align: center;
      
      &:hover, &.active {
        background-color: #F40022;
        color: white;
        border-radius: 20px;
      }
    }
  }

  .navigation__about {
    display: none;
  }
}

.navigation__burger {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
  display: none;
}

@media screen and (max-width: 767px) {
  .navigation-wrapper {
    height: 80px;
    background-color: #fce5b0;
    justify-content: flex-end;
    box-shadow: none;
    z-index: 5;
  }

  .navigation {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    right: -100vw;
    top: 80px;
    bottom: 0;
    padding: 2rem;
    visibility: hidden;
    background-color: #FDEDC9;
    transition: all .5s ease-out;

    .navigation__item {
      a {
        display: block;
        margin: 0;
        padding: 1rem;
        font-size: 7vw;
      }

      &::after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 2vw;
        height: 2px;
        background: #F40022;
        border-radius: 2px;

      }

      &:last-child::after {
        display: none;
      }
    }

    .navigation__about {
      display: block;
    }
  }

  .navigation__burger {
    display: block;
    position: relative;
    outline: none;
    &:hover {
      cursor: pointer;
    }

    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
      display: block;
      width: 40px;
      height: 3px;
      position: relative;
      border-radius: 3px;
      background-color: #F40022;
      transition: all .3s ease-in-out;
    }

    .burger-bar::before,
    .burger-bar::after {
      content: "";
      position: absolute;
      left: 0;
    }

    .burger-bar::before {
      transform: translateY(-12px);
    }

    .burger-bar::after {
      transform: translateY(12px);
    }
  }

  .navigation_show {

    .navigation {
      width: 100vw;
      right: 0;
      visibility: visible;
    }

    .burger-bar {
      width: 0;
      background: transparent;
    }

    .burger-bar::before {
      transform: rotate(45deg);
    }

    .burger-bar::after {
      transform: rotate(-45deg);
    }

  }
}