.content-wrapper {
  
  position: relative;
  padding: 1.5rem;

  &::-webkit-scrollbar {
      width: 0.2rem;
  }
  &::-webkit-scrollbar-thumb {
      height: 5px;
      background: linear-gradient(to top, transparent, #F40022);
      border-radius: 6px;
  }

}
