.footer-wrapper {
  width: 100%;
  margin-bottom: 100px;
}

.footer {
  width: 100%;  
  padding: 0.5rem 0;
  text-align: center;

  font-style: normal;
  font-weight: bold;

  .footer__contacts {
    max-width: 1400px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
}

.contacts__item {
  display: flex;
  margin: 5px 0;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;

  svg {
      margin-right: 10px;
      fill: #BF1932;
      width: 24px;
      height: 24px;
  }
}