.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #BF1932;
  }

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
  }

  &__logo {
    flex: 0 0 80px;
    svg {
      fill: #fff;
    }
  }

  &__menu {
    flex: 1 0 auto;
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: space-around;

    li {
      list-style: none;
      margin: 0 0 0 10px;
    }
  }

  &__link {
    color: white;
  }

  &__burger {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
  }
}

// svg {
//   width: 20px;
//   height: 20px;
//   fill: #F40022;
//   transition: transform 1s;
// }

@media (max-width: 420px) {
  .fund__status {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-wrapper {
    flex-direction: row;
  }

  .header .contacts {
      display: none;
  }

}
