.documents {
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: center;
  justify-content: space-around;
}

.document {
  a {
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #BF1932;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    width: 32px;
    height: 32px;
    fill: #BF1932;
    margin: 5px;
  }
}