.photos {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;

}

.album {

  &__description {
    margin: 0px 20px;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 600;
  }

}

.album__preview {
  margin: 20px 0px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  img {
    width: 200px;
    height: 200px;
    cursor: pointer;
    display: block;
    object-fit: cover;
  }
}